$dark: rgb(34, 38, 39);
$darker: rgb(25, 28, 29);
$gray: rgb(56, 59, 60);
$light-gray: rgb(77, 80, 81);
$light: rgb(165, 165, 165);
$color: rgb(219, 68, 55);

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

.details {
  a {
    color: $light;
    text-decoration: none;
    outline: none !important;
    transition: 0.3s;
    font-size: 0.8rem;

    &:hover {
      color: $color !important;
    }
  }
}

.category {
  height: auto;
  width: auto;
  text-transform: uppercase;
  background: $color;
  font-size: 0.8rem;
  border-radius: 3px;
  transition: 0.3s;
  color: white;
  text-decoration: none !important;

  &:hover {
    background: black;
    color: white;
  }
}

body {
  font-family: "Roboto", sans-serif !important;
  background: $dark;
  height: 3000px;
}

header {
  position: absolute;
  margin-top: -140px;
  z-index: 10;

  #socials {
    height: 50px;

    div {
      color: $color;

      p {
        font-size: 0.8em;
        font-weight: 700;
        display: inline-block;
      }

      #barrel {
        color: $light;
        margin-left: 10px;
      }
    }

    a {
      font-size: 0.8em;
      color: $light;
      transition: 0.3s;
      &:hover {
        color: $color;
      }
    }

    form {
      border-right: 1px $gray solid;
      border-left: 1px $gray solid;

      input {
        border: none;
        background: transparent;
        box-shadow: none;
        color: $light;
      }
      .btn-dark {
        background: $dark;
        border: none;
      }
    }
  }

  #navbar {
    height: 90px;
    background: $color;
    font-weight: 700;

    &.fixed {
      position: fixed;
    }

    .navbar-collapse {
      ul {
        li {
          margin: 0 0.1em;
          padding: 0 0.3em;
          display: flex;
          align-items: center;
          text-transform: uppercase;
          transition: 0.5s;
          border: none;
          border-bottom: 3px $color solid;
          a {
            color: white;
            transition: 0.5s;
            outline: none;
          }
          &.active {
            border-bottom: 3px white solid;
          }
          &:hover {
            border-bottom: 3px white solid;
            a {
              color: black;
            }
          }
        }
      }

      .dropdown-menu {
        border: none;
        border-radius: 0;
        a {
          font-size: 0.87em;
          font-weight: 600;
          text-transform: capitalize;
          margin: 0.5em 0;
        }
      }
    }
  }
}

section {
  padding-top: 70px;
  // width: 1100px;
  width: 85%;
  margin: auto;

  &:nth-of-type(1) {
    margin-top: 140px;
  }

  .banner {
    height: 500px;

    .ok1 {
      background-image: url(https://colorlib.com/preview/theme/vizew/img/bg-img/9.jpg);
      background-size: cover;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-content: flex-end;

      a {
        color: white;
        text-decoration: none;
      }

      & > a {
        height: 60px;
        width: 60px;
        border-radius: 100%;
        background: $color;
        font-size: 1.4em;
        transition: 0.3s;

        &:hover {
          background: black;
        }
      }

      .ok2 {
        min-height: calc(50% - 30px);
        width: 100%;
        display: flex;
        justify-content: left;
        align-items: flex-end;
        align-content: flex-end;
        flex-wrap: wrap;
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6));

        & > a:nth-of-type(2) {
          background: transparent;
          width: 90%;
          font-weight: 700;
          font-size: 1.4rem;
          transition: 0.3s;

          &:hover {
            color: black;
          }
        }

        .ok3 {
          color: white;
          font-size: 0.9rem;
          p {
            background: black;
            color: white;
          }
        }
      }
    }
  }

  .list {
    height: 500px;
    overflow-y: scroll;
    scrollbar-color: transparent transparent;
    scrollbar-width: thin;

    &:hover {
      scrollbar-color: $light transparent;
    }
    ul {
      list-style: none;

      li {
        background: $gray;
        height: 110px;
        padding: 0;
        &.active {
          border-left: 4px $color solid;
          background: $light-gray;
        }

        button {
          background: transparent;
          border: none;
          outline: none;

          .row {
            img {
              max-width: 100%;
              max-height: 100px;
            }

            .col-7 {
              p {
                text-align: left;
                display: block;
                height: 60%;
                color: white;
                font-weight: 700;
              }

              div {
                height: 40%;
                display: flex;
                justify-content: space-between;
                color: $light;
                font-size: 0.7rem;
                i {
                  margin: auto;
                  margin-right: 0.4em;
                }
              }
            }
          }
        }
      }
    }
  }

  h3 {
    width: 100%;
    color: white;
    margin-bottom: 0;
    font-size: 1.6rem;
    font-weight: 700;
  }

  .line {
    margin: auto;
    height: 2px;
    width: 170px;
    background: $gray;

    &::after {
      content: "";
      margin: auto;
      display: block;
      background: $color;
      width: 50%;
      height: 2px;
      position: relative;
    }
  }

  .card {
    background: transparent;
    border: none;

    .card-img-top {
      border-radius: 0;
    }
    .card-body {
      & > a:nth-of-type(2) {
        color: white;
        display: inline-block;
        font-size: 1.4rem;
        font-weight: 500;
        transition: 0.3s;

        &:hover {
          color: $color;
        }
      }

      div {
        a {
          font-size: 0.8rem;
        }
      }
    }
  }

  .line-full {
    height: 2px;
    background: $gray;

    &::after {
      content: "";
      display: block;
      background: $color;
      width: 10%;
      height: 2px;
      position: relative;
    }
  }

  .carousel-button {
    position: absolute;
    top: 0;
    right: 45px;
    background: rgb(25, 29, 30);
    border: none;
    color: white;
    font-size: 0.8rem;
    width: 25px;
    height: 25px;
    outline: none !important;

    &:nth-of-type(2) {
      right: 15px;
    }
  }

  .mini {
    .col-7 {
      & > a {
        font-weight: 700;
        transition: 0.3s;
        &:hover {
          color: $color !important;
          cursor: pointer;
        }
      }

      div a {
        font-size: 0.7rem;
        color: $light-gray;
        transition: 0.3s;
        &:hover {
          color: white !important;
          cursor: pointer;
        }
      }
    }
  }

  .bigInfo {
    .title p {
      color: white;
      font-size: 1.2rem;
      font-weight: 700;
      transition: 0.5s;
      &:hover {
        color: $color;
        cursor: pointer;
      }
    }

    .date {
      p {
        font-size: 0.9rem;
        color: $light-gray;
        transition: 0.5s;
        &:hover {
          color: $color;
          cursor: pointer;
        }
      }

      i {
        font-size: 0.3rem;
        color: $light;
      }
    }

    p {
      font-size: 0.88rem;
      color: $light;
    }
  }
}

footer {
  background: $darker;

  .info {
    height: 350px;

    p {
      color: $light;
    }

    input {
      background: $gray;
      border: none;
      height: 40px;
      width: calc(100% - 40px);
      color:$light;
    }

    button {
      background: $color;
      border: none;
      height: 40px;
      width: 40px;
      color: white;
    }
  }

  .copyright {
    height: 50px;
    background: rgb(10, 10, 10);
    bottom: 0;
  }
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track-piece {
  background-color: $gray;
}

::-webkit-scrollbar-thumb:vertical {
  background-color: $light;
}
